.CardDescription {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000044;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CardDescription__modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  padding: 20px;
}
.close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}
.description {
  margin: 20px;
}
.price {
  font-weight: bold;
  font-size: 18px;
}
.img {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.img img {
  width: 100px;
}
.btn-add-cart {
  margin: 20px;
  border: none;
  padding: 10px;
  background-color: #53766e;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
.btn-add-cart:hover {
  transform: scale(1.1);
  background-color: #305149;
}
